.ongoingTasksItems .ongoingTasksItem .stopButton{
    padding:5px 10px;
    border: 1px solid #000;
    cursor:pointer;
    margin-left:10px;
}

.ongoingTasksItems .ongoingTasksItem .switchableButton {
    padding:5px 10px;
    border: 1px solid #000;
    cursor:pointer;
    margin-left:10px;
}
.ongoingTasksItems .ongoingTasksItem.switchable .switchableButton {
    background-color: rgba(0, 255, 101, 0.13);
}

.ongoingTasksItems .ongoingTasksItem {
    margin: 15px 0;
}