.ongoing-tasks-panel {
    position: relative;
    background-color: #5F9FFF;
}

.ongoing-tasks-wrapper {
    overflow: hidden;
    transition: height 0.5s ease-in-out;
    position: relative;
    z-index: 1;
    height: 59px;
}

@media screen and (min-width: 768px) {
    .ongoing-tasks-wrapper {
        height: 69px;
    }
}

.ongoing-tasks {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0 12px;
    box-sizing: border-box;
    position: relative;
    top: 100%;
    -webkit-transition: top .3s;
    -moz-transition: top .3s;
    -ms-transition: top .3s;
    -o-transition: top .3s;
    transition: top .3s;
}

@media screen and (min-width: 420px) {
    .ongoing-tasks {
        padding-top: 0px;
        
    }
}

@media screen and (min-width: 768px) {
    .ongoing-tasks {
        
    }
}

.ongoing-tasks-panel__dropDown-button {
    position: absolute;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: #5F9FFF;
    width: 60px;
    height: 60px;
    border-radius: 0px 0px 50% 50%;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.ongoing-tasks-panel__dropDown-icon {
    font-size: 27px;
    position: relative;
    top: 10px;
    color: #fff;
    transition: all .5s;
}   

.ongoing-tasks-panel_open .ongoing-tasks-panel__dropDown-icon {
    transform: rotate(180deg);
    top: 8px;
}

.ongoing-tasks-logo {
    position: absolute;
    font-size: 32px;
    color: #fff;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    display: flex;
    align-items: center;
    -webkit-transition: top .3s;
    -moz-transition: top .3s;
    -ms-transition: top .3s;
    -o-transition: top .3s;
    transition: top .3s;
}

@media screen and (min-width: 768px) {
    .ongoing-tasks-logo {
        font-size: 36px;
    }
}

.ongoing-tasks-logo__title {
    margin-left: 7px;
}

.ongoing-tasks-panel_tasks-is-running .ongoing-tasks-logo {
    top: -50%
}

.ongoing-tasks-panel_tasks-is-running .ongoing-tasks {
    top: 0;
}