.stat-file-system {
    padding: 30px 10px;
    min-height: 100px;

}

p{
    margin:0;
}
.stat-folder{
    cursor: pointer;
    margin-left:0px;
    margin-top:5px;
    margin-bottom:5px;
}

.stat-folder__inner {
    margin-left: 20px;
}

.stat-folder__icon {
    margin-right: 7px;
}

.stat-folder-title {
    text-transform: capitalize;
    margin-right: 10px;
}

.stat-folder .stat-folder__inner{
    display:none;
}
.stat-folder.open > .stat-folder__inner{
    display:block;
}

.stat-folder.level_id_0{
    display:block;
}

.stat-task {
    margin: 5px 0;
}

.stat-task__title {
    text-transform: capitalize;
    margin-left: 7px;
    margin-right: 10px;
}

.stat-task__add-charts {
    margin-left: 7px;
}

.stat-task__graph-icon {
    padding: 1px;
    border: 1px solid transparent;

}

.stat-task__add-charts_active .stat-task__graph-icon {
    border-color: #000;
    color: rgb(221, 89, 12);
}
