.fileSystem-task:hover{

}

.fileSystem-task{
    cursor: pointer;
    display:flex;
    align-items: center;
    max-width: 600px;
    padding: 5px 0;
}

.fileSystem-task__open-options-button{

    margin-left: auto;

}

.fileSystem-task__title{
margin-left: 7px;
    font-size: 20px;
}