.statistic-tool-panel {
    background-color: #5F9FFF;
    color: #fff;
    display: flex;
    min-height: 55px;
    padding: 0 15px;
    margin-top: 50px;
}

@media screen and (min-width: 768px) {
    .statistic-tool-panel {
        min-height: 69px;
    }
}

.measure-box-items {
    display: flex;
}

.measure-box {
    color: #fff;
    margin-right: 10px;
}

.measure-box:last-child {
    margin-right: 0;
}

.measure-box_active {
    border-bottom: 2px solid #fff;
}

.measure-switcher {
    margin-left: 15px;
    display: flex;
    align-items: center;
}

@media screen and (min-width: 420px) {
    .measure-switcher {
        margin-left: 30px;

    }
}

.measure-switcher_active .measure-switcher__check-icon {
    display: inline;
}

.measure-switcher__check {
    border: 2px solid white;
    padding: 2px;
    width: 13px;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

@media screen and (min-width: 768px) {
    .measure-switcher__check {
        width: 15px;
        height: 15px;
    }
}

.measure-switcher__check-icon {
    font-size: 15px;
    position: absolute;
    display: none;

}

.stat-nav-panel {
    display: flex;
    align-items: center;
    justify-content: center;
}

.stat-nav-panel__item-icon {
    font-size: 28px;
}

@media screen and (min-width: 420px) {
    .stat-nav-panel__item-icon {
        font-size: 37px;
    }
}

@media screen and (min-width: 768px) {
    .stat-nav-panel__item-icon {
        font-size: 55px;
    }
}

.current-date-range-setup {
    font-size: 14px;
    display: flex;
    justify-content: center;
    padding: 0 6px;
}

@media screen and (min-width: 420px) {
    .current-date-range-setup {
        padding: 0 10px;
        font-size: 20px;
    }
}

@media screen and (min-width: 768px) {
    .current-date-range-setup {
        min-width: 160px;
        font-size: 28px;
    }
}

.measure-panel {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 14px;
    margin-bottom: 12px;
}

@media screen and (min-width: 420px) {
    .measure-panel {
        font-size: 16px;
    }
}

@media screen and (min-width: 768px) {
    .measure-panel {
        font-size: 20px;
    }
}

.measure-panel:before {
    content: '';
    width: 100% ;
    height: 60px;
    position: absolute;
    top: -5px;
    left: 0px;
    padding: 0 10px;
    background-color: #5F9FFF;
    border-radius: 0px 60px 0px 0px;
    z-index: -1;
    
}

.measure-box {
    text-transform: capitalize;
}

.date-range-panel {
    position: relative;
    display: flex;
    justify-content: center;
    /* min-width: 350px; */
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .date-range-panel {
        min-width: 440px;
    }
}

.stat-chart {
    width: 100%;
    height: 280px;
}

@media screen and (min-width: 768px) {
    .stat-chart {
        height: 400px;
    }
}