.ongoing-task-item_switchable .ongoing-task-item__switchable-button {
    opacity: 1;
}

.ongoing-task-item.switchable .switchableButton {
    background-color: rgba(0, 255, 101, 0.13);
}

.ongoing-task-item {
    display: flex;
    align-items: center;
    margin-right: 10px;
    min-height: 59px;
}

.ongoing-task-item__title {
    text-transform: capitalize;
    color: #fff;
    margin-right: 7px;
    font-size: 16px;
}

.ongoing-task-item__run-icon {
    width: 35px;
    height: auto;
    margin-right: 3px !important;
    flex-shrink: 0;
}

.ongoing-task-item__duration {
    color: #fff;
    margin-right: 15px;
    font-size: 20px;
}

.ongoing-task-item__switchable-button {
    opacity: 0.5;
    font-size: 22px;
    color: #fff;
}

.ongoing-task-item__stop-button {
    margin-right: 8px;
    font-size: 22px;
    color: #fff;
}

@media screen and (min-width: 400px) {
    .ongoing-task-item__run-icon {
        width: 40px;
    }
    .ongoing-task-item__title {
        font-size: 18px;
    }
}
@media screen and (min-width: 450px) {

    .ongoing-task-item {
        margin-right: 20px;

    }

    .ongoing-task-item__title {
        font-size: 22px;
    }
    
    .ongoing-task-item__duration {
        font-size: 22px;
    }
    
    .ongoing-task-item__switchable-button {
        font-size: 24px;
    }
    
    .ongoing-task-item__stop-button {
        font-size: 24px;
    }

    .ongoing-task-item__run-icon {
        width: 45px;
    }
}

@media screen and (min-width: 768px) {

    .ongoing-task-item {
        margin-right: 40px;
        min-height: 69px;
    }
    .ongoing-task-item__title {
        font-size: 26px;
    }
    
    .ongoing-task-item__duration {
        font-size: 26px;
    }
    
    .ongoing-task-item__switchable-button {
        font-size: 30px;
    }
    
    .ongoing-task-item__stop-button {
        font-size: 30px;
    }

    .ongoing-task-item__run-icon {
        width: 50px;
    }
}